.sidebar{
  display: flex;
  flex-direction: column;
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 70px;
  align-items: center;
  border-right: 1px solid rgb(233, 233, 233);
  z-index: 100;
}

.sidebar-btn-container{
  display: flex;
  flex-direction: column;
  row-gap: 34px;
  width: 48px;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.sidebar-btns{
  width: 24px;
  cursor: pointer;
}

.home-btn, .create-btn, .notif-btn, .messages-btn, .more-opt-btn, .logo-container{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 48px;
  width: 48px;
  background-color: white;
}

.home-btn:hover .tooltip, .create-btn:hover .tooltip, .notif-btn:hover .tooltip, .messages-btn:hover .tooltip, .more-opt-btn:hover .tooltip, .logo-container:hover .tooltip{
  opacity: 1;
}

.options-btn{
  margin-top: auto;
  width: 48px;
  display: flex;
  justify-content: center;
}

.tooltip{
  position: absolute;
  color: white;
  background-color: black;
  padding: 6px;
  border-radius: 5px;
  pointer-events: none;
  white-space: nowrap;
  left: 55px;
  opacity: 0;
  transition: opacity 0.15s;
  z-index: 60;
}
